@value sidebarWidth from '~styles/constants.module.css';
@value headerHeight from '~styles/constants.module.css';
@value footerHeight from '~styles/constants.module.css';

.sidebar {
  width: sidebarWidth;
  height: calc(100% - 40px)%;
  padding: 20px;
  background-color: #f0f3f6;
}