.phoneLoginWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.inputWrap {
  margin-bottom: 16px;
  width: 220px;
}

.loginBtn {
  margin-top: 16px;
  text-align: center;
}

.loginBtn button {
  width: 220px;
}

.error {
  color: #d33a31;
  font-size: 12px;
  width: 220px;
  text-align: left;
} 